@font-face {
  font-family: "Muller";
  src: url(./src/fonts/Muller.ttf);
}

body {
  margin: 0;
  font-family: "Muller", sans-serif;
}

span {
  font-size: 34px;
  opacity: 100%;
}

a {
  color: black;
  text-decoration: none;
}

article {
  height: 40%;
  min-height: 290px;
}

header {
  background-color: white;
}

.greet_data {
  display: flex;
}

.info_container {
  width: 88%;
  margin: 0 auto;
  margin-bottom: 15%;
  margin-top: 5vh;
}

.btn_open {
  padding: 15px 32px;
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: white;
  border: 1.6px solid;
  cursor: pointer;
}

.mainPage_container {
  color: white;
  margin-bottom: 127px;
  display: grid;
  grid-template-columns: 0.3fr auto;
}

.mainPage_content {
  display: grid;
  min-height: 733px;
}

.navigation {
  grid-row: span 2;
  margin-right: 23px;
  min-width: 250px;
  height: 65%;
}

.navigation p {
  color: black;
  margin: 25px 20px;
  font-size: 18px;
  font-weight: bold;
}

.navigation_li {
  margin-bottom: 20px;
  position: relative;
  height: 28px;
}

.navigation_img {
  width: 20px;
  height: 20px;
  margin: 5px 5px;
}

.navigation a {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

.navigation ul {
  list-style-position: none;
  padding: 0;
}

.navigation_li:hover {
  background-color: #1946ba;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 10px solid #1946ba;
}

.navigation ul li:hover a {
  color: white;
}

.container {
  padding: 30px;
  box-shadow: 0em 0.1em 0.5em rgba(0, 0, 0, 0.1);
  background-color: white;
}

.container p {
  font-size: 14px;
  opacity: 40%;
  margin: 0;
  line-height: 22px;
}

.container h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 40px;
}

.container h3 {
  margin: 5px 0 0 0;
  font-weight: lighter;
  line-height: 30px;
}

.remoteCatalog {
  position: relative;
  margin-left: 22px;
  background-color: #f21f5b;
}

.remoteCatalog h1 {
  font-size: 32px;
}

.collectiveAccessCatalog {
  position: relative;
  margin-right: 22px;
  background-color: #38c463;
}

.collectiveAccessCatalog h1 {
  font-size: 32px;
}

.greet {
  margin-bottom: 33px;
  display: flex;
  grid-column: span 2;
  background-color: #1946ba;
}
.greet_data-item {
  padding: 5% 20px 0 0;
}
.greet h1 {
  font-size: 36px;
}

data {
  font-weight: bold;
}

.greet_data {
  margin-top: 3%;
}

.greet_content {
  font-size: 30px;
}

.greet_circle {
  height: 100%;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examples_item {
  padding: 25px;
  width: 20%;
  position: relative;
}

.categories {
  margin-top: 10%;
}

.physics {
  height: 480px;
}

.physics_nav {
}

.nav_item {
  margin-right: 40px;
  padding-bottom: 6px;
  border-bottom: 1px black solid;
  font-size: 14px;
  line-height: 18px;
}

.nav_item:hover {
  background-color: #1946ba;
  padding: 7px 19px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: none;
  color: white;
}

.optics {
  height: 75%;
  margin-top: 80px;
}

.square_blue {
  margin-top: 30px;
  background-color: #1946ba;
  width: 70%;
  height: 37%;
}

.binoculars_item {
  height: 100%;
  padding: 0;
  position: relative;
}

.binoculars_item img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: auto;
}

.binoculars_item button {
  position: absolute;
  bottom: 0;
  width: 60%;
}

.btn__blue {
  font-family: "Muller";
  background-color: #1946ba;
  padding: 9px 30px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 3px;
}

.binoculars_item h3 {
  margin: 5% 0;
  font-size: 24px;
  line-height: 28px;
}

.h3__bold {
  font-weight: bold !important;
}

.footer_nav {
  background-color: #0f2c74;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 3% 0;
}

.footer_list p {
  line-height: 32px;
  margin-bottom: 10%;
}

.footer_list h3 {
  font-weight: 600;
}

.footer_list ul {
  list-style-type: none;
  padding: 0;
}

.footer_list li {
  margin-bottom: 15px;
}

.footer_list li a {
  color: white;
}

.connect_btn {
  padding: 15px 32px;
  font-size: 14px;
  color: white;
  border-radius: 25px;
  border: 1px solid;
  cursor: pointer;
}

.social {
  margin-top: 8%;
}

.social p {
  margin: 0;
}

.footer_permissions {
  font-size: 12px;
  background-color: #081a47;
  min-height: 9%;
  display: flex;
  justify-content: space-evenly;
}

.footer_permissions a {
  color: white;
  opacity: 40%;
}

.permissions_block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.catalog h3 {
  margin-top: 28px;
}

.checkbox {
  margin-top: 10px;
}

.header_search input {
  margin-left: 30px;
  height: 40px;
  border: none;
  background-color: #f2f2f2;
  width: 100%;
}

.header_search button {
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 40px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.header_search {
  height: 40px;
  display: flex;
  grid-column-start: 2;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.search_buttons {
  display: flex;
}

.header_buttons {
  grid-column-start: 3;
  display: flex;
  justify-content: space-evenly;
}

.language_btn {
  background-image: url(./src/img/header/language_btn.svg);
  background-repeat: no-repeat;
  background-position: right 2px center;
  width: 47px;
  text-align: left;
  border: none;
  background-color: #fff;
}

.enter_btn {
  padding: 15px 32px;
  font-size: 14px;
  color: #1946ba;
  border-radius: 2px;
  border: 1px solid #1946ba;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: #c4c4c4;
}

.groupe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remoteAccess_btn {
  background-image: url(./pages/lab/Computer_RA.svg);
  background-repeat: no-repeat;
  background-position: left 10px center;
  width: 155px;
  padding: 11px 10px;
  text-align: right;
  border: none;
  color: white;
  font-size: 12px;
  font-family: "Muller";
  background-color: #6fcf97;
}

.groupe_text__under {
  color: black;
}

.groupe_text__under h5 {
  margin: 20px 0 0 0;
  line-height: 28px;
}

.groupe_text__under p {
  line-height: 28px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 112px;
  height: 112px;
  flex-direction: column;
  align-items: center;
}

.pagination_numbers {
  margin-top: 18px;
  display: flex;
  background-color: #faf9f9;
  width: 90%;
  justify-content: space-around;
}

.pagination_numbers a {
  width: 7%;
  text-align: center;
}

.pagination_numbers a:hover {
  border-bottom: 2px solid #1946ba;
}
